<html>
    <head>
        <title>Demo of a website</title>
    </head>
    <body>
        <p>Base Template</p> 
        <div id = "menu">
            <h4>Order</h4>
            <h4>About</h4>
            <h4>Contact</h4>
            <h4>Component Finder</h4>
        </div>
        <div id="input fields">
            <form>
                <h3>Requester Email</h3><input type="text">
                <h3>Package Type:</h3><input type="text">
                <h3>Manufacturer:</h3><input type="date">
                <p>Producer Email</p><input type ="text">
                <input type ="submit">
                
            </form>
        </div>
    </body>
</html>
<script>
    
</script>